@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kronos Video </h1>
    <p> Literally the last video Store on earth since Blockbuster closed. </p>
    <p> Want a Nostagia Trip? </p>
    <p> Consider a video Rental from Kronos Video </p>

    <img src="https://cdn.shopify.com/s/files/1/1788/3019/files/background-1327688_1920_large.png?v=1543527458">
</div>
